{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    Uh-oh... something went wrong!
                </div>
                <div class="card-body">
                    <p>
                        We were unable to process your request, this is most likely caused by the application developer making a mistake.
                    </p>
                    <p>
                        Please try again later, if the error persists please contact the author of the application you are trying to access.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}